<!--Footer-->
<footer class="panel-footer">
    <div class="container">
        <div class="row">
            <!--First column-->
            <div class="col-md-3 ">
                <h4>ABOUT BLOGGER'S MEETS</h4>
                <p>© 2017 Copyright: Blogger's Meet</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-lg-9 ">                
                <ul class="list-inline">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            {{!-- <div class="col-lg-3">
                <h5></h5>
                <ul type="none">
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div> --}}
            <!--/.Third column-->

            <!--Fourth column-->
            {{!-- <div class="col-lg-3">
                <h5></h5>
                <ul type="none">
                    <li><a href="#">About us</a></li>
                </ul>
            </div> --}}
            <!--/.Fourth column-->
        </div>
    </div>
</footer>
<!--/.Footer-->