<link href="/css/myprofile.css" rel="stylesheet">

{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
{{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}

<div class="container-fluid">
  <div class="row">

    <!--First column-->
    <div class="col-lg-4 col-md-4 col-sm-4">
      {{> uploadprofilephoto}}
    </div>
    <!--/.First column-->

    <!--Second column-->
    <div class="col-lg-8 col-md-8 col-sm-8">

        My profile

    </div>
    <!--/.Second column-->
  </div>
</div>

<script type="text/javascript" src="/js/myprofile.js"></script>