.panel-footer {
    background-color: black !important;
}

.panel-footer h1 {
    color: #fff !important;
}

.cancel a {
    color: #fff !important;
}

.signup a {
    color: #fff !important;
}

.alert-signup {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-signup .close {
    color: #fff !important;
}