.panel-footer {
    background-color: black !important;
}

.panel-footer h1 {
    color: #fff !important;
}

.cancel a {
    color: #fff !important;
}

.signup a {
    color: #fff !important;
}

.alert-signup {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-signup .close {
    color: #fff !important;
}

.nav-link {
    color: white;
    text-decoration: none;
}


/* Start - Circualr Profile Image on Navigation */

.navbarimage {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.four {
    background-image: url('/images/18x18.png');
}

.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui-datepicker {
    z-index: 1000!important;
}


/* End - Circualr Profile Image on Navigation */

.typeahead {
    color: red;
    font-weight: bold;
}

.tt-menu {
    width: 250px;
    margin: 12px 0;
    padding: 9px 9px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.defaultfontweight {
    font-weight: normal;
    color: black;
}

.form-control,
input {
    border-width: 1px;
}