<div id="accordion" >
  {{#each user}} {{#each this}}
  <div data-name={{_id}}>
    <h3>     
        {{{topic}}}
     
      {{!-- <div class="pull-right">
        <label class="radio-inline">
          <input type="radio" name="blogGroup" value="1"/>approved
        </label>
        <label class="radio-inline">
          <input type="radio" name="blogGroup" value="2"/>disApproved
        </label>
        <label class="radio-inline">
          <input type="radio" name="blogGroup" value="3"/>pending
        </label>
        <button type="button" class="btn btn-primary btn-xs userBlogDataColumn">Update</button>
      </div> --}}
    </h3>
    <div>
      {{!-- <label class="radio-inline">
        <input type="radio" name="blogGroup1" value="1"/>approved
      </label>
      <label class="radio-inline">
        <input type="radio" name="blogGroup1" value="2"/>disApproved
      </label>
      <label class="radio-inline">
        <input type="radio" name="blogGroup1" value="3"/>pending
      </label> --}} {{{content}}}
    </div>
  </div>

  {{/each}} {{/each}}
</div>