
    <div id="accordion" class="blogsbyuserid">
      <div>
        <h3>
          test

          <div id="editblog" class="editblog">
            <span class="edit glyphicon glyphicon-edit"></span>
            <span class="remove glyphicon glyphicon-remove"></span>
          </div>
        </h3>
        <div>

          test ing accordion
        </div>
      </div>
    </div>

  </div>
