<div class="list-group">
  <ul class="list-group panel-info">
    <li class="list-group-item panel-heading">
      <span class="close  regUserBlogs ">&#xe031;</span>Blogger info
    </li>
     {{#each user}}         
     <li class="list-group-item hover">
      <span class="badge">{{total}}</span> {{categorykey}}
    </li>
     {{/each}}   
  </ul>
</div>